name: OpenCode Review

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  code-review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install opencode
        run: curl -fsSL https://opencode.ai/install | bash

      - name: Review PR
        env:
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          OPENCODE_PERMISSION: '{ "bash": { "post_pr_comment": "allow", "*": "deny" } }'
          OPENCODE_MODEL: "zai-coding-plan/glm-4.6"
          ZAI_API_KEY: ${{ secrets.ZAI_API_KEY }}
        run: |
          mkdir -p $HOME/.local/share/opencode/
          echo '{"zai-coding-plan": { "type": "api", "key": "'$ZAI_API_KEY'"}}' > $HOME/.local/share/opencode/auth.json

          post_pr_comment() {
            gh api \
              --method POST \
              -H 'Accept: application/vnd.github+json' \
              -H 'X-GitHub-Api-Version: 2022-11-28' \
              /repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/comments \
              -f 'commit_id=${{ github.event.pull_request.head.sha }}' \
              -f 'side=RIGHT' \
              $@
          }

          opencode run -m $OPENCODE_MODEL "A new pull request has been created: '${{ github.event.pull_request.title }}'

          <pr-description>
          ${{ github.event.pull_request.body }}
          </pr-description>

          Please check all the code changes in this pull request against the guidelines in '.rules' file in this repository. Diffs are important but make sure you read the entire file to get proper context. Make it clear the suggestions are merely suggestions and the human can decide what to do

          Use the 'post_pr_comment' create comments on the files for the violations. Try to leave the comment on the exact line number. If you have a suggested fix include it in a suggestion code block.

          Command MUST be like this:
          ```
          post_pr_comment -f 'body=[summary of issue]' -f 'path=[path-to-file]' -F 'line=[line]'
          ```

          Only create comments for actual violations. If the code follows all guidelines, don't run any 'post_pr_comment'."
